---
import RSSButton from '../components/RSSButton.astro'
import Layout from './Layout.astro'

type Props = {
  title?: string
  bodyClass?: string[]
}
const {title, bodyClass = []} = Astro.props
---

<Layout useWavyBackground title={title} bodyClass={['bg-zinc-100', 'mt-5', ...bodyClass]}>
  <div class="md:w-[700px] px-10 m-auto">
    <slot />
  </div>
  <span class="md:w-[700px] flex justify-end mx-auto pr-4 sticky bottom-4">
    <RSSButton />
  </span>
</Layout>
